:host {
  display: flex;
  overflow: hidden;
  height: 100vh;
}
nav {
  position: absolute;
  height: 100%;
  z-index: 1;
}
main {
  flex: 1;
  position: relative;
}
::ng-deep router-outlet ~ * {
  position: absolute;
  left: 85px;
  width: calc(100% - 85px);
  height: 100%;
  overflow-y: scroll;
}