:host {
  display: flex;
  overflow: hidden;
  height: 100vh;
}
nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}
main {
  flex: 1;
  position: relative;
}
::ng-deep main > router-outlet ~ * {
  position: absolute;
  top: 56px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}